Microcontroladores\Acionar_injetor_Gol\Drivers
Microcontroladores\Acionar_injetor_Gol\Debug
Microcontroladores\Acionar_injetor_Gol\.settings
Microcontroladores\Acionar_injetor_Gol\Core\Startup
Microcontroladores\Acionar_injetor_Gol\.cproject
Microcontroladores\Acionar_injetor_Gol\.mxproject
Microcontroladores\Acionar_injetor_Gol\.project
Microcontroladores\Acionar_injetor_Gol\STM32F103C8TX_FLASH.ld
Acionar_injetor_Gol\Debug